/* =Font
-------------------------------------------------------------- */
@font-face {
    font-family: 'helvetica-neue';
    src: url('../fonts/helvetica-neue-webfont.eot');
    src: url('../fonts/helvetica-neue-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helvetica-neue-webfont.woff') format('woff'),
    url('../fonts/helvetica-neue-webfont.ttf') format('truetype'),
    url('../fonts/helvetica-neue-webfont.svg#helveticaneuecyrmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}


body{
    font-family: "helvetica-neue" , "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
}


/* =Head
-------------------------------------------------------------- */
.head{
    position: relative;
    width: 100%;
    background: #000;
    z-index: 999;
}

.head .title{
    font-size: 1em;
    color: #ffffff;
    text-align: center;
}

.head .cart{

}

.head .logo{
    text-align: center;
}

.head .back{
    display: inline-block;
    background: url("../img/arrow-back.png") no-repeat;
    width: 13px;
    height: 21px;
    margin: 5px 0 0 0;
}
.head .cart-icon{
    display: inline-block;
    background: url("../img/cart.png") no-repeat;
    width: 27px;
    height: 20px;
    margin: 5px 0 0 0;
    position: relative;
}

.head .cart-icon .count{
    background: #ff0000;
    border-radius: 50%;
    color: #ffffff;
    font-size: 0.688em;
    height: 14px;
    line-height: 1;
    position: absolute;
    right: -5px;
    text-align: center;
    top: -5px;
    width: 14px;
}





/* =Form Styles
-------------------------------------------------------------- */
select{
    border:1px solid #000;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea{
    border: 1px solid #000000;
    background: #FFFFFF;
}


.button, .button{
    width: 100%;
    margin: 0;
}

.btn-primary{
    background: transparent;
    border: 1px solid #000000;
    color: #000000;
    text-transform: uppercase;
}

/* =Favorite Page
-------------------------------------------------------------- */
.fav-empty{
    text-align: center;
    font-size: 0.875em;
    line-height: 1.2;
    font-weight: 300;
    padding: 0 2em;
    position:absolute; height:100%; width:100%;
    display: table;
}

.fav-empty .text{
    position: absolute;
    top: 50%;
}


.center-area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.center-area:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.centered {
    margin-top: -40px;
    position: absolute;
    text-align: center;
    top: 50%;
}



.wrap{
    width: 100%;
    height: 100%;
}

.bg-grey{
    background: #f8f8f8;
}

/* =Home Page
-------------------------------------------------------------- */
.home-page{
    background: #F5A623;
    overflow: hidden;
    height: 100%;
}

.home-page .item{
    line-height: 1;
    text-align: center;
    margin-top: 2.500em;
}

.home-page .item .image{
    text-align: center;
}

.home-page .item .title{
    color: #FFFFFF;
    font-size: 0.813em;
    text-transform: uppercase;
    margin-top: 0.625em;

}

.home-page .item .pos{
   color: #1D1201;
    font-size: 0.813em;
    font-weight: 100;
}

/* =Category Page
-------------------------------------------------------------- */
.product-item{
    display: inline-block;
    margin-right: -4px;
    position: relative;
    width: 50%;
    text-align: center;
}

.product-item .img{

}

.product-item .price{
    font-size: 1em;
}

.product-item .title {
    font-weight: 100;
}

.product-item .fav-icon{
    position: absolute;
}

/* =Cart Page
-------------------------------------------------------------- */
.product-cart-item{
    width: 100%;
    margin-top: 1.125em;
}

.product-cart-item .info{

}

.product-cart-item .info{

}


/* =order Page
-------------------------------------------------------------- */
.order-form{

}


.radio-form{

}

.radio-form .line{
    margin-top: 1em;
}

.radio-form .line label{
    font-weight: bold;
}

.radio-form .line label span{
    font-weight: normal;
    display: block;
}

.radio-form .line label em{
    color: #333333;
}

/* =Pay Page
-------------------------------------------------------------- */
.form-pay{
    background: #f8f8f8;
}

.form-pay .line{
    margin-top: 1em;
}

.form-pay .line span{
    font-size: 0.625em;
}


.order-info{
    
}

/* =Bottom block
-------------------------------------------------------------- */
.bottom{
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
}

.select-title{
    position: absolute;
}


