/* =Head
-------------------------------------------------------------- */
.head{
    width: 100%;
    background: #000;
}

.head .title{
    font-size: 1em;
    color: #ffffff;
    text-align: center;
}

.head .cart{

}

.head .logo{
    text-align: center;
}

.head .back{
    display: inline-block;
    background: url("../img/arrow-back.png") no-repeat;
    width: 13px;
    height: 21px;
    margin: 5px 0 0 0;
}
.head .cart-icon{
    display: inline-block;
    background: url("../img/cart.png") no-repeat;
    width: 27px;
    height: 20px;
    margin: 5px 0 0 0;
    position: relative;
}

.head .cart-icon .count{
    background: #ff0000;
    border-radius: 50%;
    color: #ffffff;
    font-size: 0.688em;
    height: 14px;
    line-height: 1;
    position: absolute;
    right: -5px;
    text-align: center;
    top: -5px;
    width: 14px;
}


/* =Font
-------------------------------------------------------------- */
@font-face {
    font-family: 'helveticaneuecyrmedium';
    src: url('../fonts/helveticaneuecyr-medium-webfont.eot');
    src: url('../fonts/helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneuecyr-medium-webfont.woff') format('woff'),
    url('../fonts/helveticaneuecyr-medium-webfont.ttf') format('truetype'),
    url('../fonts/helveticaneuecyr-medium-webfont.svg#helveticaneuecyrmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot');
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
    url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype'),
    url('../fonts/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 1em;
}


/* =Form Styles
-------------------------------------------------------------- */



.fav-empty{
    text-align: center;
    font-size: 0.875em;
    line-height: 1.2;
    font-weight: 300;
    padding: 0 2em;
    position:absolute; height:100%; width:100%;
    display: table;
}

.fav-empty .text{
    position: absolute;
    top: 50%;
}


.center-area {
    /* let it fill the whole container */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.center-area:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.centered {
    display: inline-block;
    vertical-align: middle;
}

/* =Home Page
-------------------------------------------------------------- */
.home-page{
    background: #F5A623;
    overflow: hidden;
    height: 100%;
}

.home-page .item{
    line-height: 1;
    text-align: center;
    margin-top: 2.500em;
}

.home-page .item .image{
    text-align: center;
}

.home-page .item .title{
    color: #FFFFFF;
    font-size: 0.813em;
    text-transform: uppercase;
    margin-top: 0.625em;

}

.home-page .item .pos{
   color: #1D1201;
    font-size: 0.813em;
    font-weight: 100;
}

/* =Category Page
-------------------------------------------------------------- */
.product-item{
    width: 50%;
    float: left;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    position: relative;
}

.product-item .img{

}

.product-item .price{

}

.product-item .title {

}

/* =order Page
-------------------------------------------------------------- */
.order-form{

}